{% extends "template.html" %}
{% block title %} 회원가입 {% endblock %}

{% block content %}
<div class="text-center">
    <h3 class="text-center">회원가입</h3>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form method="POST">
            {{ form.hidden_tag() }}
            <dl>
                {% for field in form.display %}
                    <dt>{{ form[field].label }}</dt>
                    <dd>{{ form[field](size=62) }}</dd>
                    {% if form[field].errors %}
                      {% for e in form[field].errors %}
                       <p class="help-block">{{ e }}</p>
                      {% endfor %}
                    {% endif %}
                    <br/>
                {% endfor %}
            </dl>
            <p>
            <input type=submit value="등록">
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

<br/>
<br/>
<br/>
{% endblock %}